.slideshow {
  position: relative;
  width: 100%;
  max-height: 500px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 30px;
}

.slideshow-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

.slideshow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 80px;
  cursor: pointer;
}

.slideshow-button-prev {
  left: 20px;
}

.slideshow-button-next {
  right: 20px;
}

.slideshow-counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

/*RESPONSIVE*/

@media (max-width: 768px) {
  .slideshow-image {
    height: 255px;
  }

  .slideshow-button {
    font-size: 30px;
  }

  .slideshow-button-prev {
    left: 10px;
  }

  .slideshow-button-next {
    right: 10px;
  }

  .slideshow-counter {
    display: none;
  }
}
