.about-page {
  background-color: white;
}

.about-container {
  margin: 0;
  padding-bottom: 50px;
}

.banner {
  position: relative;
  width: 100%;
  height: 16rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.banner::before {
  content: "";
  background-image: url("./public/img1.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.collapses-wrapper {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}
