.about-page {
  background-color: white;
}

.about-container {
  margin: 0;
  padding-bottom: 50px;
}

.collapses-wrapper {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .about-container {
    padding: 0;
  }
}