.appartments-container {
  margin-top: 80px;
  margin-bottom: 100px;
}

.appartments-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.appartment-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 340px;
}

.appartment-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.appartment-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.appartment-title {
  color: white;
  margin: 0;
  font-size: 18px;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .appartments-container {
    margin-top: 25px;
  }

  .appartments-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .appartment-card {
    height: 255px;
  }

  .appartment-title {
    font-size: 18px;
  }
}