.banner {
  position: relative;
  width: 100%;
  height: 223px;
  margin: auto;
  border-radius: 25px;
  display: grid;
  place-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.banner::before {
  content: "";
  background-image: url("./public/img1.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  border-radius: 25px;
  z-index: 1;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  z-index: 2;
}

.banner h1 {
  position: relative;
  z-index: 3;
  color: white;
  font-weight: 700;
  font-size: 48px;
}
