.collapse-container {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.collapse-button {
  width: 100%;
  background-color: #ff6060;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

.collapse-title {
  font-weight: 700;
  font-size: 24px;
}

.collapse-icon {
  width: 24px;
  height: 14px;
  transition: transform 0.3s;
  flex-shrink: 0;
}

.collapse-icon-open {
  transform: rotate(180deg);
}

.collapse-content {
  margin-top: -10px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.collapse-content-open {
  max-height: 2000px;
  opacity: 1;
}

.collapse-text {
  background-color: #f6f6f6;
  padding: 30px 20px;
  border-radius: 0 0 10px 10px;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.collapse-text p {
  color: black;
  margin: 0;
  font-size: 18px;
}

.collapse-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collapse-text li {
  margin-bottom: 8px;
}
