.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.navbar-menu a {
  color: #000000;
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

.navbar-menu a.active {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-logo img {
    width: 145px;
    height: auto;
  }

  .navbar-menu {
    gap: 20px;
  }

  .navbar-menu a {
    font-size: 12px;
    text-transform: uppercase;
  }
}
