.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 209px;
}

.footer img {
  width: 122px;
  height: 40px;
  padding-top: 40px;
  filter: brightness(0) invert(1);
}

.footer p {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 500;
  padding-top: 35px;
}
