.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 209px;
  padding-top: 30px;
}

.footer img {
  width: 122px;
  filter: brightness(0) invert(1);
}

.footer p {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 500;
  padding-top: 35px;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .footer {
    height: auto;
    padding: 40px 20px;
  }

  .footer img {
    width: 122px;
    padding-top: 20px;
  }

  .footer p {
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    width: 35%;
  }
}
