.banner {
  position: relative;
  margin: 0 auto 40px;
  height: 223px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.banner h1 {
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .banner h1 {
    font-size: 24px;
    text-align: left;
    right: 43px;
    width: 63%;
  }
}
