.banner {
  position: relative;
  max-width: 80vw;
  min-height: 223px;
  margin: auto;
  border-radius: 25px;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}

.banner::before {
  content: "";
  background-image: url("./public/img1.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  z-index: 2;
}

.banner h1 {
  position: relative;
  z-index: 3;
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 0 #000,
    1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
