.notfound-container {
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-title {
  font-size: 288px;
  margin: 0;
  color: #ff6060;
  font-weight: 700;
  padding-bottom: 100px;
  padding-top: 50px;
}

.notfound-container h2 {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 80px;
}

.notfound-link {
  color: black;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 30px;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .notfound-title {
    font-size: 96px;
    padding-bottom: 80px;
    padding-top: 100px;
  }

  .notfound-container h2 {
    font-size: 18px;
    padding-bottom: 100px;
  }

  .notfound-link {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
