.notfound-container {
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-title {
  font-size: 288px;
  margin: 0;
  color: #FF6060;
  font-weight: 700;
  padding-bottom: 100px;
  padding-top: 50px;
}

.notfound-container h2 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 80px;
}

.notfound-link {
  color: black;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 30px;
}
